<div class='assetBox'>
    <input type="file" angular-File asset-type="{{attrs.assetType}}" target-List="{{attrs.targetList}}" style="display:none;"/>
    <center>
        <button class="uploadButton btn btn-sm btn-success"> 
            <span class="glyphicon glyphicon-open"/> UPLOAD </button>
<!--        <button class="galleryButton btn btn-sm btn-primary"> 
            <span class="glyphicon glyphicon-picture"/> GALLERY </button>-->
        <button class="deleteButton btn btn-sm btn-danger" ng-show="attrs.assetType==='enemy'"> 
            <span class="glyphicon glyphicon-remove"/> DELETE </button>
        <input ng-model="result.Data[attrs.targetList][attrs.entryNo].assetText" 
               type="text" placeholder="Asset Text"
               ng-show="attrs.assetType==='answer'"/>
        <select style="width: 100%;"
                ng-show="attrs.assetType==='enemy'"  
                ng-options="ans.assetText for ans in result.Data.answerList"
                ng-model="result.Data.enemyList[attrs.entryNo].rightans">
        </select>
        <br>
        <img  class="imageAssetPreview" ng-src="{{result.Data[attrs.targetList][attrs.entryNo].imageFile.imgurl}}"/>
    </center>
</div>