<div class="row">
    <div class="col-md-12" style="background-color:lavender; height:100%;">
        <center>
            <h1>SIGN UP!</h1>
        <form class="navbar-form " style="margin-right:15px;">
            <div class="form-group signupbox">
                <input type="text" ng-model="nickname" class="form-control" placeholder="Nickname"><br>
                <input type="password" ng-model="password" class="form-control" placeholder="Password"><br>
                <input type="password" ng-model="passwordrepeat" class="form-control" placeholder="Confirm Password"><br><br>
                <center><button type="submit" ng-click="createUser(nickname,password,passwordrepeat)" class="btn btn-primary">Create Account</button></center>
            </div>
      </form>   
        </center>
    </div>
</div>
    