/* Gerneral CSS */
h1, h2, h3{ text-align: center; }
hidden { visibility: hidden; }

@media(min-width:768px){
    .rightpanel{
        overflow-y: scroll;
        height: 100%;
    }
    
}

/* General Game Preview */
.enemy{
        text-align: center;
	height: 80px;
	width: 80px;
	position: absolute;
}
.enemy1{ left:20%; top:30%; }
.enemy2{ left:70%; top:20%; }
.enemy3{ left:40%; top:5%;  }
.buttom{
	position: absolute;
        text-align: center;
	bottom: 5px;
	width: 30%;
	height: 90px;	
}
.left{ left: 15px; }
.right{ right: 15px; }
.center{ left: 35%; }
.player{
        text-align: center;
	position: absolute;
        bottom: 100px;
        width:  100px;
        height: 100px;
        margin: 0 auto;
        left:0px;
        right: 0px;
}
.imageGamePreview{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

/* AssetBox CSS */
.assetBox{
        position: relative;
        display: inline-block;
        width: 215px;
        height: 260px;
	padding: 5px;
        margin: 5px;
        overflow: auto;
        background-color: lightsteelblue;
        border-radius: 15px;
        text-align: center;
        vertical-align: center;
}

.background{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}



.aspect169{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    max-height: 90%;
}


.aspect169:before{
    content:"";
    display:block;
    padding-top: 177%;
    
}

.GamePreview{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.imageAssetPreview{
	max-height:180px;
	max-width: 190px;
        height: auto;
        width: auto;
}

.main{
    height:95%; 
    margin-top: 2.3%;
}

/* gamelist CSS */
.gamedisplay{
        position: relative;
        display: inline-block;
        width: 250px;
        height: 210px;
	padding: 5px;
        margin: 5px;
        overflow: auto;
        background-color: lightsteelblue;
        border-radius: 2px;
        text-align: center;
        vertical-align: center;
        font-size: 130%;
}

.galleryBox{
        position: absolute;
        width: 50%;
        height: 50%;
	padding: 5px;
        margin: 5px;
        background-color: lightsteelblue;
        border-radius: 10px;
}

/* Rest of the page CSS */
/* signup */
.signupbox{
	padding: 20px;
        margin: 5px;
        background-color: lightsteelblue;
        border-radius: 10px;
        text-align: center;
        vertical-align: center;
}


/*Animations*/
/* NGREPEAT ANIMATION */
.example-animate-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
    display: inline-block
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;

}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}


/*  VIEW ANIMATION*/
.view-animate-container {
  position:relative;
  height:100%;
  overflow-x: hidden;
}

.view-animate {
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  overflow-y:hidden;
  overflow-x:hidden;;

  display:block;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:-100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:100%;
}

select { color:black;}
input { color:black;}

